

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>

 <body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="/login">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a href="/adminlogout"><button>Logout</button></a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">


            <li class="nav-item dropdown pe-3">

              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
              </a><!-- End Profile Iamge Icon -->

    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/adminhome">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" href="/allproducts">
          <i class="bi bi-menu-button-wide"></i><span>All Prouducts</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" href="/addproduct">
          <i class="bi bi-journal-text"></i><span>Add Product</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/usermanage">
          <i class="bi bi-layout-text-window-reverse"></i><span>All Users</span><i class="bi ms-auto"></i>
        </a>

      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="">
          <i class="bi bi-bar-chart"></i><span>Orders</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="">
          <i class="bi bi-gem"></i><span>Brands</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Icons Nav -->


      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/addcategory">
          <i class="bi bi-dash-circle"></i>
          <span>Category</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/subcategory">
          <i class="bi bi-file-earmark"></i>
          <span>SubCategory</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/banner">
          <i class="bi bi-file-earmark"></i>
          <span>Banner</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/coupon">
          <i class="bi bi-file-earmark"></i>
          <span>Coupon</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

 <main id="main" class="main">

  <section class="ftco-section">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="  col-md-6 col-sm-12  ">
          <h2 style="position: relative;left: 10rem;" class="heading-section">All products</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="h5 mb-4 text-center"></h3>
          <div class="table-wrap">
            <table class="table">
              <thead class="thead-primary">
                <tr>
                  <th>Image</th>
                  <th>Product name</th>
                  <th>Category</th>
                  <th>Subcategory</th>
                  <th>price</th>
                  <th>stock</th>
                  <th>brand</th>
                  <th>discription</th>
                  <th>action</th>
                </tr>
              </thead>
              <tbody>
                {{#each addnew}}
                <tr class="alert" role="alert">

                


                  <td><img style="width: 9em; height: 9rem;" src="productimages/{{image.[0]}}"> </td>
                  <td style="width: 8rem;">{{productName}} </td>
                  <td style="width: 4rem;">{{category}}</td>
                  <td style="width: 6rem;">{{subCategory}}</td>
                  <td style="width: 6rem;">{{price}}</td>
                  <td style="width: 6rem;">{{stock}}</td>
                  <td style="width: 6rem;">{{brand}}</td>
                  <td style="width: 15rem;">{{discription}}</td>

                  <td><a href="/delete/{{_id}}"><button class="btn btn-danger "
                         >Delete</button></a></td>
                  <td><a href="/editproduct/{{_id}}"><button class="btn btn-primary">Edit</button></a></td>


                </tr>

                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!--
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script> --}}

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/style.css">





</body>
