
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>


  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="/login">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a href="/adminlogout"><button>Logout</button></a>











    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="http://localhost:3000/adminhome">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" href="http://localhost:3000/allproducts">
          <i class="bi bi-menu-button-wide"></i><span>All Prouducts</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" href="http://localhost:3000/addproduct">
          <i class="bi bi-journal-text"></i>Add Product
        </a>

      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" href="http://localhost:3000/usermanage">
          <i class="bi bi-layout-text-window-reverse"></i><span>All Users</span><i class="bi ms-auto"></i>
        </a>

      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" href="http://localhost:3000/orderManagement">
          <i class="bi bi-bar-chart"></i><span>Orders</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" href="">
          <i class="bi bi-gem"></i><span>Brands</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Icons Nav -->


      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="http://localhost:3000/addcategory">
          <i class="bi bi-dash-circle"></i>
          <span>Category</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="http://localhost:3000/subcategory">
          <i class="bi bi-file-earmark"></i>
          <span>Subcategory</span>
        </a>
      </li><!-- End Blank Page Nav -->

<li class="nav-item">
        <a class="nav-link collapsed" href="http://localhost:3000/banner">
          <i class="bi bi-file-earmark"></i>
          <span>Banner</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://localhost:3000/coupon">
          <i class="bi bi-file-earmark"></i>
          <span>Coupon</span>
        </a>
      </li>
    </ul>

  </aside>
  <main id="main" class="main">
<form action="/couponAdd"  method="post" >
<div class="row ">
  <div class="col-md">
      <label for="">Coupon Code</label>
    <div class="form-floating">
      <input type="text" class="form-control" name="couponCode" id="floatingInputGrid" placeholder="name@example.com" value="">
    </div>
  </div>
  <div class="col-md">
      <label>Discount Value</label>
     <div class="form-floating">
      <input type="number" class="form-control" name="discountPrice" id="floatingInputGrid" placeholder="name@example.com" value="">
   
      
    </div>
  </div>
</div>
<div class="row ">
  <div class="col-md">
      <label for="">Create Date</label>
    <div class="form-floating">
      <input type="date" class="form-control" name="createDate" id="floatingInputGrid" placeholder="name@example.com" value="">
    </div>
  </div>
  <div class="col-md">
      <label>Enter Minimum Purchase </label>
     <div class="form-floating">
      <input type="number" class="form-control" name="MinimumPrice" id="floatingInputGrid" placeholder="name@example.com" value="">
   
      
    </div>
  </div>
</div>
<div class="row ">
  <div class="col-md">
      <label for="">Expire Date</label>
    <div class="form-floating">
      <input type="date" class="form-control" name="expireDate" id="floatingInputGrid" placeholder="name@example.com" value="">
    </div>
  </div>
  <div class="col-md">
      <label for="">Discount Type</label>
    <div class="form-floating">
      <input type="text" class="form-control" name="discountType" id="floatingInputGrid" placeholder="name@example.com" value="">
    </div>
  </div>
    </div>


<br>

<button type="submit" class="btn btn-primary">Add Coupon</button>
<p class="text-danger">{{couponerr}}</p>
</form>
<br>
<table id="myTable" class="table align-middle mb-0 bg-white mt-5 pt-5">
  <thead class="bg-light">
    
    <br>
    
 
   
      <th>Coupon Code </th>
      <th>Discount type</th>
      
       <th>Discount Price</th>
       <th>Min Purchase</th>
       <th>createDate</th>
       <th>Expire Date</th>
       <th>Status</th>
      
       <th>Action</th>
      
    </tr>
  </thead>
  <tbody>

    
     {{#each couponData}}
    
    <tr>
     <td>
        <p class="text-muted mb-0">{{couponCode}}</p>
      </td>
       <td>
        <p class="text-muted mb-0">{{discountType}}</p>
      </td>
       <td>
        <p class="text-muted mb-0">{{discountPrice}}</p>
      </td>
       <td>
        <p class="text-muted mb-0">{{MinimumPrice}}</p>
      </td>
      
       <td>
        <p class="text-muted mb-0">{{createDate}}</p>
      </td>
       <td>
        <p class="text-muted mb-0">{{expireDate}}</p>
      </td>
       <td>
        <p class="text-muted mb-0">{{status}}</p>
      </td>
      {{#if status}}
      <td><a href="/couponDesable/{{_id}}"><button type="button" class="btn btn-danger">Desable</button></a></td>
      {{else}}
       <td><a href="/couponEnable/{{_id}}"><button type="button" class="btn btn-primary">Enable</button></a></td>
{{/if}}
        <td><a href="couponEdit/{{_id}}"><button type="button" class="btn btn-success">Edit</button></a></td>
    </tr>
    {{/each}}
  </tbody>
 
</table> 
 

    <tr>
<script >
$(document).ready( function () {
    $('#myTable').DataTable();
})
</script> 
<script src="assets/js/main.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/style.css">
  
</body>
