

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">

<!-- Include the Bootstrap JavaScript library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

</head>

 <body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="/login">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a href="/adminlogout"><button>Logout</button></a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">


            <li class="nav-item dropdown pe-3">

              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
              </a><!-- End Profile Iamge Icon -->

    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/adminhome">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" href="/allproducts">
          <i class="bi bi-menu-button-wide"></i><span>All Prouducts</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" href="/addproduct">
          <i class="bi bi-journal-text"></i><span>Add Product</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/usermanage">
          <i class="bi bi-layout-text-window-reverse"></i><span>All Users</span><i class="bi ms-auto"></i>
        </a>

      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="">
          <i class="bi bi-bar-chart"></i><span>Orders</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="">
          <i class="bi bi-gem"></i><span>Brands</span><i class="bi  ms-auto"></i>
        </a>

      </li><!-- End Icons Nav -->


      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/addcategory">
          <i class="bi bi-dash-circle"></i>
          <span>Category</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/subcategory">
          <i class="bi bi-file-earmark"></i>
          <span>SubCategory</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
   <main id="main" class="main">
<tr>
  <td>
   <a href="/salesReports/?name=day"> <button class="btn btn-primary">Dayily</button></a>
   <a href="/salesReports/?name=month"> <button class="btn btn-primary">Monthly</button></a>
   <a href="/salesReports/?name=year"> <button class="btn btn-primary">Yearly</button></a>
    </td>
</tr>
<br>
<br>
<form  action="/salesReports" method="get" >
<tr>
  <td>
    Form
    <input type="date" id="startDate" name="startDate">
  </td> 
  <td>
    To
    <input type="date" id="endDate" name="endDate">

    <button style="background-color: white;color: black;" type="submit" class="btn btn-primary">Submit</button>
  </td>
</tr>
</form>
<br>
<br>
<table id="myTable" class="table align-middle mb-0 bg-white mt-5 pt-5 ">
  <button  onclick="printTable()">Generate PDF</button> 
             <br>
             <br>
        <button id="datatable" onclick="exportToExcel()">Export to Excel</button>
  <thead class="bg-light">
    
 
      <th>Date</th>
      <th> User </th>
      
       <th>productId</th>
      
      <th>Quandity</th>
      <th>Price</th>
      <th>Total Price</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each salesDatas}}


  
    
    
    
    <tr>
     
     
      
     <td>
        <p class="text-muted mb-0">{{salesDate}}</p>
      </td>
      
      
      
    
      
      
       <td>
        <p class="text-muted mb-0">{{orderedUser}}</p>
      </td>

       <td>
      
        <p class="text-muted mb-0">{{product.productId}}</p>
     
      </td>
       <td>
        
        <p class="text-muted mb-0">{{quantity}}</p>
        
      </td>
       <td>
        
        <p class="text-muted mb-0">{{product.price}}</p>
        
      </td>
       <td>
        
        <p class="text-muted mb-0">{{grandTotal}}</p>
        
      </td>
      
     
     
      {{!-- <td><a href="/orderStatus/{{_id}}"><button name="confirm" class="btn btn-primary"> hgfhsgfdhg</button></a></td> --}}
   



    
      
    
     
    </tr>
{{/each}}
  </tbody>
 
</table> 
 

    <tr>
<script >
$(document).ready( function () {
    $('#myTable').DataTable();
})
</script> 
<script src="assets/js/main.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/style.css">
  
  <script>
        function exportToExcel() {
            // Create a new Excel workbook and worksheet
            var workbook = XLSX.utils.book_new();
            var worksheet = XLSX.utils.table_to_sheet(document.getElementById("myTable"));

            // Add the worksheet to the workbook
            XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");

            // Save the workbook as an Excel file
            var file = XLSX.write(workbook, { bookType: "xlsx", type: "binary" });
            saveAs(new Blob([s2ab(file)], { type: "application/octet-stream" }), "myTable.xlsx");
        }

        // Utility function to convert a string to an ArrayBuffer
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xff;
            return buf;
        }
    </script>

       {{!-- ////////////////////////////////////////////// --}}
            <script>
                function printTable() {
			var table = document.getElementById("datatable");
			var newWin = window.open('', 'Print-Window');
			newWin.document.open();
			newWin.document.write('<html><body onload="window.print()">' + table.outerHTML + '</html>');
			newWin.document.close();
			setTimeout(function () { newWin.close(); }, 10);
		}
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
            {{!-- ///////////////////////////////////// --}}
</body>
