<table id="myTable" class="table align-middle mb-0 bg-white mt-5 pt-5">
  <thead class="bg-light">
    
 
      <th>Image</th>
      <th>Product Name </th>
      <th>Product Price</th>
       <th>Product Id</th>
       <th>Ordered Date</th>
      
      
       <th>Payment Method</th>
       <th>Deliverd Date</th>
      
    </tr>
  </thead>
  <tbody>

    {{#each userOrderDelivered}}
   
    
    <tr>
      <td>
        {{#each productUserData}}
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1"><img style="width: 5rem;" src="/productimages/{{product.image.[0]}}" alt=""></p>
            
          </div>
        </div>
          {{/each}}
      </td>
     
      
     <td>
{{#each ../productUserData}}
        <p class="text-muted mb-0">{{product.productName}}</p>
      </td>
      
       <td>
        <p class="text-muted mb-0">{{product.price}}</p>
      </td>
       <td>
        <p class="text-muted mb-0">{{product.productId}}</p>
      </td>
       <td>
        {{/each}}
  
        <p class="text-muted mb-0">{{date}}</p>
      </td>

       <td>
        <p class="text-muted mb-0">{{paymentMethod}}</p>
      </td>
       <td>
        <p class="text-muted mb-0">{{deliveryDate}}</p>
      </td>
     

  
    
     
    </tr>
  {{/each}}
  </tbody>
 
</table> 
 

    <tr>
<script >
$(document).ready( function () {
    $('#myTable').DataTable();
})
</script> 
<script src="assets/js/main.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/style.css">
  
</body>
