   <main id="main" class="main">
<table id="myTable" class="table align-middle mb-0 bg-white mt-5 pt-5">
  <thead class="bg-light">
    
      <th>index</th>
      <th>OrderedDate</th>
      <th>Total </th>
      
      <th>Payment Method</th>
      <th>Delivery Address</th>
      <th>Delivery Date</th>
      <th>status</th>
      <th>Action</th>
      
    </tr>
  </thead>
  <tbody>

    {{#each userOrders}}
    
    
    <tr>
     <td>
        <p class="text-muted mb-0">{{@index}}</p>
      </td>
      
       <td>
        <p class="text-muted mb-0">{{date}}</p>
      </td>
       <td>
        {{#each products}}
        <p class="text-muted mb-0">{{totalPrice}}</p>
        {{/each}}
      </td>
  
      <td>
        <p class="text-muted mb-0">{{paymentMethod}}</p>
      </td>
      <td>
        <p class="text-muted mb-0">{{deliveryAddress.name}},{{deliveryAddress.email}},{{deliveryAddress.phone}}</p>
      </td>
      <td>
        <p class="text-muted mb-0">{{deliveryDate}}</p>
      </td>
      <td>
        <p class="text-muted mb-0">{{orderStatus}}</p>
      </td>
      <td><a href="/userOrderProduct/?_id={{_id}}"><button class="btn btn-primary">Details</button></a></td>

      
      
    
     
    </tr>
  {{/each}}
  </tbody>
 
</table> 
 

    <tr>
<script >
$(document).ready( function () {
    $('#myTable').DataTable();
})
</script> 
<script src="assets/js/main.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/style.css">
  
</body>